In [1]:
import numpy as np
import pandas as pd
import collections as col
import itertools as itr

In [2]:
data = pd.read_csv('D:/Downloads/movie_bd_v5.csv')          # загрузим датафрейм
data.head(5)                                                # 5 верхних строк на просмотр

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [3]:
  '''добавим дополнительные столбцы в датафрейм,кторые пригодятся в последующих заданиях'''
data['profit'] = data['revenue'] - data['budget']                                   #столбец профит
data['release_date'] = pd.to_datetime(data['release_date'], format = "%m/%d/%Y")    # отформатируем дату
data['month'] = data['release_date'].apply(lambda d : d.month)                      # добавим столбец с месяцем релиза
data['title_len'] = data['original_title'].apply(lambda s : len(s))                 # стобец с количеством символов в названии
data['overview_len'] = data['overview'].apply(lambda s : len(s.split()))            # столбец с количеством слов в описании

In [4]:
data.head(5)                                              # просмотрим результат

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_len,overview_len
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810,6,14,26
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354,5,18,110
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201,3,9,22
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225,12,28,26
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360,4,9,14

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650) '
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
'''отфильтруем датафрейм по названию,используя в качестве булевой маски
максимальное значение бюджета'''
data['original_title'][data['budget'] == data['budget'].max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [10]:
'''отфильтруем датафрейм по названию используя в качестве маски максимальную продолжительность'''
data['original_title'][data['runtime'] == data['runtime'].max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [12]:
'''отфильтруем датафрейм по названию используя в качестве маски минимальную продолжительность'''
data['original_title'][data['runtime'] == data['runtime'].min()]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = 110

In [14]:
'''применим метод рассчета среднего значения к столбцу с продолжительностью фильма'''
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = 107

In [16]:
'''применим метод рассчета медианы к столбцу с продолжительностью фильма'''
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
answers['6'] = 'Avatar (tt0499549) '

In [18]:
'''к добавленному ранее в датафрейм столбцу profit применим метод поиска макс.значения 
и используем его в качестве маски для столбца с названием'''
data['original_title'][data['profit'] == data['profit'].max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = 'The Lone Ranger (tt1210819) '

In [20]:
'''к добавленному ранее в датафрейм столбцу profit применим метод поиска мин.значения 
и используем его в качестве маски для столбца с названием'''
data['original_title'][data['profit'] == data['profit'].min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = 1478

In [22]:
'''применим маску с условием "сборы больше бюджета" к столбцу с названием и подсчитаем общее
количество при помощи метода count()'''
data['original_title'][data['revenue'] > data['budget']].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = 'The Dark Knight'

In [24]:
'''применим к столбцу с названием маску, в которой применим метод max() ко сборам,к которой в свою очередь
тоже применим маску с фильтром по году'''
data['original_title'][data['revenue'] == data['revenue'][data['release_year'] == 2008].max()]

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = 'The Lone Ranger (tt1210819) '

In [26]:
'''применим к столбцу с названием маску с двойным условием по минимальному профиту
и интервалу года выхода с 2012 по 1014'''
data['original_title'][(data['profit'] == data['profit'][data['release_year'] >= 2012].min()) & 
                       (data['profit'] == data['profit'][data['release_year'] <= 2014].min())]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [27]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [28]:
answers['11'] = 'Drama'

ВАРИАНТ 2

In [29]:
'''получим серию пердварительно объединив все элементы в одну строку через знак "|",
а затем разделим по этому знаку на отдельные элементы, к 
серии применим счетчик и подсчитаем количество отделных значений'''
genres = pd.Series(data['genres'].str.cat(sep = '|').split('|'))
col.Counter(genres).most_common()[0]                            # выведем первый элемент в сорт.списке

('Drama', 782)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = 'Drama'

In [31]:
'''применим маску с положительной прибылью и опять создадим список с отдельными жанрами,
к которым применим счетчик'''
genres = data[data['profit'] > 0 ]['genres'].str.cat(sep = '|').split('|')
col.Counter(genres).most_common()[0]

('Drama', 560)

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [32]:
answers['13'] = 'Peter Jackson'

In [33]:
'''простой,но не точный способ-просто сгруппируем по режиссеру сборы и применим
агрегирующую функцию sum.Способ не учитывает,что у некоторых фильмов несколько режиссеров'''
data.groupby('director')['revenue'].sum().sort_values(ascending = False).head(5)  #выведем 5 для наглядности

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

In [34]:
'''другой способ-точный'''
director = pd.Series(data['director'].str.cat( sep = "|").split('|'))   #создадим серию по отдельным режиссерам
director = pd.Series(0,index=director.unique())                         #переиндексируем ее,чтобы качестве индексов были уникальные имена режиссеров
director_list = data['director'].apply(lambda x : x.split('|'))         #также создадим серию из списков режиссеров для проходв цикле по ним
'''далее запустим цикл,в котором пройдемся по элементам серии(внешний)
 и спискам режиссеров в качестве отдельных элементов (внутренний)'''
for i,directors in enumerate(director_list):                  
    for el in directors:
        director.loc[el] += data['revenue'].iloc[i]                     #в серию с индексом элемента внутреннего списка режиссеров запишем значение из столбца со сборами 
director.sort_values(ascending = False).head(5)                         # выведем 5 для наглядности

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
answers['14'] = 'Robert Rodriguez'

In [36]:
'''создадим серию, в которой представлены отделЬные режиссеры снимающие Action'''
director = data[data['genres'].str.contains('Action')]['director'].str.cat(sep='|').split('|')
col.Counter(director).most_common()[0:5]                 #посчитаем их и уцпорядочим,выведем 5 для наглядности

[('Robert Rodriguez', 9),
 ('Michael Bay', 7),
 ('Paul W.S. Anderson', 7),
 ('Antoine Fuqua', 6),
 ('Ridley Scott', 6)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
answers['15'] = 'Chris Hemsworth'

In [38]:
'''простой,но не точный способ,т.к не учитывает отделных актеров,а
только их группы .Основан на группировании по актерам
фильмов,снятых в 2012 году.Сборы просуммированы'''
data[data['release_year'] == 2012].groupby('cast')['revenue'].sum().sort_values(ascending = False).head(5)

cast
Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson    1519557910
Daniel Craig|Judi Dench|Javier Bardem|Ralph Fiennes|Naomie Harris                1108561013
Christian Bale|Michael Caine|Gary Oldman|Anne Hathaway|Tom Hardy                 1081041287
Ian McKellen|Martin Freeman|Richard Armitage|Andy Serkis|Cate Blanchett          1017003568
John Leguizamo|Ray Romano|Chris Wedge|Denis Leary|Seann William Scott             877244782
Name: revenue, dtype: int64

In [39]:
cast = pd.Series(data['cast'].str.cat(sep = '|').split('|'))       #создадим серию по отдельным атерам
cast = pd.Series(0,index=cast.unique())                            #переиндексируем её с уникальными актерами в качестве индексов 
cast_list = data[data['release_year'] == 2012]['cast'].apply(lambda x : x.split('|')) #серия из списков актеров для цикла
revenue_2012 = data[data['release_year'] == 2012]['revenue']       #серия касс.сборов для цикла 
for i,actors in enumerate(cast_list):
    for el in actors:
        cast.loc[el] += revenue_2012.iloc[i]
cast.sort_values(ascending = False).head(5)                       #выведем 5 для наглядности

Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Chris Evans           1519557910
Scarlett Johansson    1519557910
dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
answers['16'] = 'Matt Damon'

In [41]:
'''высокобюджетным считаем фильмы с бюджетом выше среднего.Отфильтруем по данному параметру
и создадим серию из отдельных атеров'''
cast=data[data['budget'] > data['budget'].mean()]['cast'].str.cat(sep = '|').split('|')
col.Counter(cast).most_common()[0:5]      #посчитаем,остсортируем,выведем 5 для наглядности

[('Matt Damon', 18),
 ('Adam Sandler', 17),
 ('Angelina Jolie', 16),
 ('Tom Cruise', 15),
 ('Samuel L. Jackson', 15)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = 'Action'

In [43]:
'''Отфильтруем фильмы в который снимался Николас и создадим серию отдельных 
жанров с этим актером'''
genres = data[data['cast'].str.contains('Nicolas Cage')]['genres'].str.cat(sep = '|').split('|')
col.Counter(genres).most_common()[0:5]  #посчитаем,остсортируем,выведем 5 для наглядности

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8)]

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = 'K-19: The Widowmaker'

In [45]:
'''отфильтруем фильмы в съемках которого принимала участие paramount в промежуточный
датафрейм.Далее к нему применим фильт с минимальным профитом и выведем название'''
data_company = data[data['production_companies'].str.contains('Paramount Pictures')]
data_company[data_company['profit'] == data_company['profit'].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
answers['19'] = 2015

In [47]:
'''Сгруппируем по году выхода и применим аггрег.функцию Sum() к каччовым сборам'''
data.groupby('release_year')['revenue'].sum().sort_values(ascending = False).head(5) #остсортируем,выведем 5 для наглядности

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
answers['20'] = 2014

In [49]:
'''создадим датафрейм в кoторый входят только фильмы,снимавшиеся с участием Warner,
далее сгруппируем его по дате выхода и применим Sum() к колонке с прибылью'''
data_company = data[data['production_companies'].str.contains('Warner Bros')]
data_company.groupby('release_year')['profit'].sum().sort_values(ascending = False).head(5)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = 'Сентябрь (9)'

In [51]:
'''сгруппируем по колонке месяц выхода,кторая специально создана вначалею'''
data.groupby('month')['original_title'].count().sort_values(ascending = False).head(5) #посчитаем,остсортируем,выведем 5 для наглядности

month
9     227
12    190
10    186
8     161
3     156
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
answers['22'] = 450

In [53]:
'''отфильтруем по месяцам,удовлетворяющим условию.Сгруппируем,посчитаем,суммируем'''
data[(data['month'] >= 6) & (data['month'] < 9)].groupby('month')['original_title'].count().sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
answers['23'] = 'Peter Jackson'

In [55]:
'''отфильтруем по нужным месяцам и создадим серию с отдельными режиссерами'''
director = data[(data['month'] == 12) | (data['month'] <3 )]['director'].str.cat(sep = '|').split('|')
col.Counter(director).most_common()[0:5]  #посчитаем,остсортируем,выведем 5 для наглядности

[('Peter Jackson', 7),
 ('Clint Eastwood', 6),
 ('Steven Soderbergh', 6),
 ('Shawn Levy', 4),
 ('Nancy Meyers', 4)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
answers['24'] = 'Four By Two Productions'

#

In [57]:
'''простой экспресс-способ,учитывающий только группы фильмов,но не каждый по отдельности'''
data.groupby('production_companies')['title_len'].mean().sort_values(ascending = False).head(5)

production_companies
Twentieth Century Fox Film Corporation|Four By Two Productions                                         83.0
Walt Disney|Walden Media                                                                               62.0
Walt Disney Pictures|21 Laps Entertainment|Jim Henson Company, The                                     59.0
Plan B Entertainment|Virtual Studios|Scott Free Productions|Alberta Film Entertainment|Warner Bros.    58.0
Dune Entertainment|Fox 2000 Pictures|Walden Media                                                      56.0
Name: title_len, dtype: float64

In [58]:
'''точный и более сложный способ учитывающий студии о отдельности'''
companies = pd.Series(data['production_companies'].str.cat(sep = '|').split('|')) #серия отдельных фильмов
comp_counter = pd.Series(0,index=companies.unique())        # создадим счетчик компаний для цикла
companies = pd.Series(0,index=companies.unique())           # переиндексируем с уник компаниями в кач.индексов
comp_list = data['production_companies'].apply(lambda x : x.split('|')) # серия списков компаний
for i,comps in enumerate(comp_list):
    for el in comps:
        comp_counter.loc[el] += 1                           # cчетчик компаний
        companies.loc[el] += data['overview_len'].iloc[i]      #суммируем длину в знаках для каждой компании
companies = companies/comp_counter                         # найдем среднее значение по каждой компании
companies.sort_values(ascending = False).head(5)         #отсортируем,выведем 5 для наглядности

Midnight Picture Show               175.0
Room 9 Entertainment                161.0
98 MPH Productions                  159.0
Heineken Branded Entertainment      159.0
Brookwell-McNamara Entertainment    156.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [59]:
answers['25'] = 'Midnight Picture Show'

In [60]:
'''эксперсс-способ,уитывающий только длинну описания групп компаний,но не отдельных'''
data.groupby('production_companies')['overview_len'].mean().sort_values(ascending = False)

production_companies
Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show                                 175.0
Paramount Pictures|Metro-Goldwyn-Mayer (MGM)|Radical Studios|Flynn Picture Company                                169.0
Fox Searchlight Pictures|Room 9 Entertainment                                                                     161.0
Columbia Pictures|Revolution Studios|Happy Madison Productions                                                    159.0
Village Roadshow Pictures|NPV Entertainment|Heineken Branded Entertainment|Silver Pictures|Warner Bros.           159.0
                                                                                                                  ...
Focus Films                                                                                                        12.0
Cheyenne Enterprises|Epsilon Motion Pictures|Empire Pictures|Metro-Goldwyn-Mayer (MGM)|Hyde Park Entertainment     11.0
Motion Picture Corporation of America|Artisan Entertainment                                                        11.0
Columbia Pictures Corporation|Apatow Productions                                                                   10.0
Paramount Pictures|Plan B Entertainment|Regency Enterprises                                                        10.0
Name: overview_len, Length: 1624, dtype: float64

In [61]:
'''точный и более сложный способ учитывающий студии о отдельности'''
companies = pd.Series(data['production_companies'].str.cat(sep = '|').split('|')) #серия отдельных фильмов
comp_counter = pd.Series(0,index = companies.unique())        # создадим счетчик компаний для цикла
companies = pd.Series(0,index = companies.unique())           # переиндексируем с уник компаниями в кач.индексов
comp_list = data['production_companies'].apply(lambda x : x.split('|')) # серия списков компаний
for i,comps in enumerate(comp_list):
    for el in comps:
        comp_counter.loc[el] += 1                           # cчетчик компаний
        companies.loc[el] += data['overview_len'].iloc[i]  #суммируем длину описания фильма
companies = companies/comp_counter                         # найдем среднее значение по каждой компании
companies.sort_values(ascending = False).head(5)         #отсортируем,выведем 5 для наглядности

Midnight Picture Show               175.0
Room 9 Entertainment                161.0
98 MPH Productions                  159.0
Heineken Branded Entertainment      159.0
Brookwell-McNamara Entertainment    156.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [62]:
answers['26'] = 'The Dark Knight , Inside Out , 12 Years a Slave'

In [63]:
'''сгруппируем по названию и выведем среднюю оценку,
выведем фильмы с наивысшей оценкой в количестве равном 1% от общего количества фильмов'''
data.groupby('original_title')['vote_average'].max().sort_values(ascending = False).head(int(len(data)*0.01))

original_title
The Dark Knight                                  8.1
The Imitation Game                               8.0
Inside Out                                       8.0
Interstellar                                     8.0
Room                                             8.0
The Grand Budapest Hotel                         7.9
The Pianist                                      7.9
Guardians of the Galaxy                          7.9
Memento                                          7.9
The Wolf of Wall Street                          7.9
Inception                                        7.9
Gone Girl                                        7.9
12 Years a Slave                                 7.9
The Lord of the Rings: The Return of the King    7.9
Prisoners                                        7.8
The Fault in Our Stars                           7.8
Eternal Sunshine of the Spotless Mind            7.8
The Prestige                                     7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [64]:
answers['27']=('Daniel Radcliffe', 'Rupert Grint')

In [65]:
'''решим задачу через сочетания'''
counter = col.Counter()                                        # создаем пустой счетчик
cast_list = data['cast'].apply(lambda s : s.split('|'))        #создаем серию со списками групп актров
combinations = list(cast_list.apply(lambda s : list(itr.combinations(s,2)))) # получим список сочетаний по каждой группе
for combs in combinations:                                    #расситываем количество комбинаций в каждой группе
    counter += col.Counter(combs)                               #и объединяем счетчики сочетаний каждой группы
counter.most_common()[0:5]                                    #сортируем,выводим 5 для наглядности

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

ВАРИАНТ 2

# Submission

In [66]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650) ',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549) ',
 '7': 'The Lone Ranger (tt1210819) ',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger (tt1210819) ',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь (9)',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight , Inside Out , 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [67]:
# и убедиться что ни чего не пропустил)
len(answers)

27