In [1]:
import numpy as np
import pandas as pd
import collections as col
import itertools as itr

In [2]:
data = pd.read_csv('D:/Downloads/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1850,tt0183523,90000000,60874615,Mission to Mars,Gary Sinise|Tim Robbins|Don Cheadle|Connie Nie...,Brian De Palma,Let There Be Life.,When contact is lost with the crew of the firs...,114,Science Fiction,Spyglass Entertainment|The Jacobson Company|To...,3/10/2000,5.6,2000
617,tt1010048,15000000,377910544,Slumdog Millionaire,Dev Patel|Freida Pinto|Anil Kapoor|Mia Drake I...,Danny Boyle|Loveleen Tandan,What does it take to find a lost love? A. Mone...,Jamal Malik is an impoverished Indian teen who...,120,Drama|Romance,Celador Films|Warner Bros.|Film4,5/12/2008,7.5,2008
1364,tt0332047,30000000,50451307,Fever Pitch,Drew Barrymore|Jimmy Fallon|Jason Spevack|Jack...,Bobby Farrelly|Peter Farrelly,A Comedy About The Game of Love.,When relaxed and charming Ben Wrightman meets ...,103,Comedy|Drama|Romance,Fox 2000 Pictures|Wildgaze Films|Alan Greenspa...,4/6/2005,5.7,2005
72,tt1524930,31000000,104384188,Vacation,Ed Helms|Christina Applegate|Skyler Gisondo|St...,John Francis Daley|Jonathan M. Goldstein,What could go wrong?,Hoping to bring his family closer together and...,99,Adventure|Comedy,New Line Cinema|BenderSpink|David Dobkin Produ...,7/28/2015,6.1,2015
782,tt0810913,79000000,149673788,Jack and Jill,Adam Sandler|Katie Holmes|Al Pacino|Eugenio De...,Dennis Dugan,His twin sister is coming for the holidays... ...,"Jack Sadelstein, a successful advertising exec...",91,Comedy,Columbia Pictures|Happy Madison Productions|Br...,11/11/2011,4.2,2011

In [3]:
data['profit']=data['revenue']-data['budget']
data['release_date'] = pd.to_datetime(data['release_date'], format="%m/%d/%Y")
data['month']=data['release_date'].apply(lambda d : d.month)
data['title_len']=data['original_title'].apply(lambda s : len(s))
data['overview_len']=data['overview'].apply(lambda s : len(s.split()))

In [4]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit,month,title_len,overview_len
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03,1889.000000,1889.000000,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08,6.933298,15.037057,52.381154
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08,3.390196,8.552660,26.589348
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08,1.000000,1.000000,10.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06,4.000000,9.000000,32.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07,7.000000,13.000000,48.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08,10.000000,18.000000,67.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09,12.000000,83.000000,175.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650) '
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
data['original_title'][data['budget']==data['budget'].max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [8]:
data['original_title'][data['runtime']==data['runtime'].max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [12]:
data['original_title'][data['runtime']==data['runtime'].min()]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = 110

In [10]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [11]:
answers['5'] = 107

In [16]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
answers['6'] = 'Avatar (tt0499549) '

In [12]:
data['original_title'][data['profit']==data['profit'].max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [21]:
answers['7'] = 'The Lone Ranger (tt1210819) '

In [15]:
data['original_title'][data['profit']==data['profit'].min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
answers['8'] = 1478

In [17]:
data['original_title'][data['revenue']>data['budget']].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = 'The Dark Knight'

In [19]:
data['original_title'][data['revenue']==data['revenue'][data['release_year']==2008].max()]

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = 'The Lone Ranger (tt1210819) '

In [20]:
data['original_title'][(data['profit']==data['profit'][data['release_year']>=2012].min()) & 
                       (data['profit']==data['profit'][data['release_year']<=2014].min())]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [27]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [27]:
answers['11'] = 'Drama'

ВАРИАНТ 2

In [26]:
genres=data['genres'].str.cat(sep='|').split('|')
col.Counter(genres).most_common()[0]

('Drama', 782)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = 'Drama'

In [28]:
genres=data[data['profit']>0]['genres'].str.cat(sep='|').split('|')
col.Counter(genres).most_common()[0]

('Drama', 560)

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [31]:
answers['13'] = 'Peter Jackson'

In [30]:
data.groupby('director')['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
answers['14'] = 'Robert Rodriguez'

In [33]:
director=data[data['genres'].str.contains('Action')]['director'].str.cat(sep='|').split('|')
col.Counter(director).most_common()[0]

('Robert Rodriguez', 9)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [52]:
answers['15'] = 'Chris Hemsworth'

In [57]:
data[data['release_year']==2012].groupby('cast')['revenue'].sum().sort_values(ascending=False).head(5)

cast
Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson    1519557910
Daniel Craig|Judi Dench|Javier Bardem|Ralph Fiennes|Naomie Harris                1108561013
Christian Bale|Michael Caine|Gary Oldman|Anne Hathaway|Tom Hardy                 1081041287
Ian McKellen|Martin Freeman|Richard Armitage|Andy Serkis|Cate Blanchett          1017003568
John Leguizamo|Ray Romano|Chris Wedge|Denis Leary|Seann William Scott             877244782
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
answers['16'] = 'Matt Damon'

In [39]:
value=data[data['budget']>data['budget'].mean()]['cast'].str.cat(sep='|').split('|')
col.Counter(value).most_common()[0]

('Matt Damon', 18)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
answers['17'] = 'Action'

In [54]:
value=data[data['cast'].str.contains('Nicolas Cage')]['genres'].str.cat(sep='|').split('|')
col.Counter(value).most_common()[0]

('Action', 17)

# 18. Самый убыточный фильм от Paramount Pictures

In [42]:
answers['18'] = 'K-19: The Widowmaker'

In [53]:
data_company=data[data['production_companies'].str.contains('Paramount Pictures')]
data_company[data_company['profit']==data_company['profit'].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [55]:
answers['19'] = 2015

In [56]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [58]:
answers['20'] = 2014

In [59]:
data_company=data[data['production_companies'].str.contains('Warner Bros')]
data_company.groupby('release_year')['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
answers['21'] = 'Сентябрь (9)'

In [60]:
data.groupby('month')['original_title'].count().sort_values(ascending=False).head(1)

month
9    227
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [50]:
answers['22'] = 450

In [51]:
data[(data['month']>=6) & (data['month']<9)].groupby('month')['original_title'].count().sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [63]:
answers['23'] = 'Peter Jackson'

In [62]:
value=data[(data['month']==12) | (data['month']<3)]['director'].str.cat(sep='|').split('|')
col.Counter(value).most_common()[0]

('Peter Jackson', 7)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [54]:
answers['24'] = 'Four By Two Productions'

#

In [61]:
data.groupby('production_companies')['title_len'].mean().sort_values(ascending=False)

production_companies
Twentieth Century Fox Film Corporation|Four By Two Productions                                                          83.0
Walt Disney|Walden Media                                                                                                62.0
Walt Disney Pictures|21 Laps Entertainment|Jim Henson Company, The                                                      59.0
Plan B Entertainment|Virtual Studios|Scott Free Productions|Alberta Film Entertainment|Warner Bros.                     58.0
Dune Entertainment|Fox 2000 Pictures|Walden Media                                                                       56.0
                                                                                                                        ...
Sunswept Entertainment|Warner Bros.|Metro-Goldwyn-Mayer (MGM)                                                            3.0
Twentieth Century Fox Film Corporation|Donners' Company|Bad Hat Harry Productions|Marvel Enterprises|XM2 Productions     2.0
Columbia Pictures|Relativity Media                                                                                       2.0
Ixtlan Productions|Emperor Motion Pictures|Global Entertainment Group                                                    2.0
Focus Films|Starz Animation|Relativity Media|Tim Burton Productions|Arc Productions                                      1.0
Name: title_len, Length: 1624, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
answers['25'] = 'Midnight Picture Show'

In [57]:
data.groupby('production_companies')['overview_len'].mean().sort_values(ascending=False)

production_companies
Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show                                 175.0
Paramount Pictures|Metro-Goldwyn-Mayer (MGM)|Radical Studios|Flynn Picture Company                                169.0
Fox Searchlight Pictures|Room 9 Entertainment                                                                     161.0
Columbia Pictures|Revolution Studios|Happy Madison Productions                                                    159.0
Village Roadshow Pictures|NPV Entertainment|Heineken Branded Entertainment|Silver Pictures|Warner Bros.           159.0
                                                                                                                  ...
Focus Films                                                                                                        12.0
Cheyenne Enterprises|Epsilon Motion Pictures|Empire Pictures|Metro-Goldwyn-Mayer (MGM)|Hyde Park Entertainment     11.0
Motion Picture Corporation of America|Artisan Entertainment                                                        11.0
Columbia Pictures Corporation|Apatow Productions                                                                   10.0
Paramount Pictures|Plan B Entertainment|Regency Enterprises                                                        10.0
Name: overview_len, Length: 1624, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [58]:
answers['26'] = 'The Dark Knight , Inside Out , 12 Years a Slave'

In [59]:
data.groupby('original_title')['vote_average'].max().sort_values(ascending=False).head(int(len(data)*0.01))

original_title
The Dark Knight                                  8.1
The Imitation Game                               8.0
Inside Out                                       8.0
Interstellar                                     8.0
Room                                             8.0
The Grand Budapest Hotel                         7.9
The Pianist                                      7.9
Guardians of the Galaxy                          7.9
Memento                                          7.9
The Wolf of Wall Street                          7.9
Inception                                        7.9
Gone Girl                                        7.9
12 Years a Slave                                 7.9
The Lord of the Rings: The Return of the King    7.9
Prisoners                                        7.8
The Fault in Our Stars                           7.8
Eternal Sunshine of the Spotless Mind            7.8
The Prestige                                     7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [60]:
answers['27']=('Daniel Radcliffe', 'Rupert Grint')

In [68]:
counter=col.Counter()
str_to_list=data['cast'].apply(lambda s : s.split('|'))
combinations=list(str_to_list.apply(lambda s : list(itr.combinations(s,2))))
for combs in combinations:
    counter+=col.Counter(combs)
counter.most_common()[0:5]

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

ВАРИАНТ 2

# Submission

In [62]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650) ',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549) ',
 '7': 'The Lone Ranger (tt1210819) ',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger (tt1210819) ',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь (9)',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight , Inside Out , 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [63]:
# и убедиться что ни чего не пропустил)
len(answers)

27